<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/nav.css">
  <title>Short Description about API</title>
</head>
<header th:insert="fragments/header2 :: header2"></header>
<div class="container" style="font-family: Verdana,SansSerif; font-size: 14px;font-style: normal" >
  About the API there are 4 methods and they are as follows:</div>
<div class="container" style="font-family: Verdana,SansSerif; font-size: 14px;font-style: normal" >
  GET
  <br> POST
  <br>PUT
  <br>DELETE
</div>
<div class="container" style="font-family: Verdana,SansSerif; font-size: 14px;font-style: normal" >
  So, here I will be describing shortly how I used API (Screenshots can be found in github read.me section).
  <br>

  <br>GET- This method can be used by typing "/datalar/id" and the information of the writing ip can be appeared.
  <br>POST- This method is used by typing"/datalar/add" and the required information will be added to the server.
  <br>PUT- This method is used by typing"/datalar/id" the typed id's iformation can be changed.
  <br>DELETE- This method is activated by typing"/datalar/id" and selected id will be removed from the server.
  <br>
  <br>
  So, this was the short description about the API I used in this web application.
  For more information please read the read.me section in github.
</div>
</body>
<footer th:insert="fragments/footer :: footer"></footer>
</html>